{% include 'static/index.html' %}

{% block title %}
{{ title }}
{% endblock %}


<div class="container my-5">
    <div class="container my-5">
        <h1 class="text-center mb-4">Contact Us</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h2>Our Location</h2>
                <p>123 Main St.</p>
                <p>Anytown, USA 12345</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: info@bestcars.com</p>
            </div>
        </div>
    </div>

</div>